body {
  overflow-x: hidden;  /* Prevent horizontal scrolling */
}

.card-layout-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 100vh;  
  height: 100vh;      
  overflow: hidden;   
}

.question-container {
  text-align: center;
  margin-bottom: 2rem;
  overflow: hidden;  
}

.question-text {
  font-size: 1.8rem;
  color: #e4e4e4;
  font-weight: bold;
  margin-bottom: 1rem;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card, .card-next-set {
  width: fit-content;
  max-width: 500px;
  min-width: 250px;
  height: auto;
  max-height: 200px;
  overflow: hidden; 
  border: 1px solid #ffffff;
  border-radius: 8px;
  margin: 2vw;
  padding: 2vw;
  text-align: center;
  cursor: pointer;
  transition: transform 0.5s ease, box-shadow 0.3s ease, color 0.5s ease;
  background-color: #303030;
  color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
}

.card:hover {
  transform: scale(1.2);
  box-shadow: 10px 4px 20px rgba(255, 0, 0, 0);
  background-color: white;
}

.card:hover h2,
.card:hover p {
  color: black;
}

.card h2 {
  margin-top: 0;
  color: white;
  word-wrap: break-word;
}

.card p {
  font-size: 1.2rem;
  line-height: 1.6;
}

/* Specific styles for the first card */
.card-first {
  background-color: #303030;
  border: 1px solid #ffffff;
}

/* Specific styles for the second card */
.second-card {
  background-color: #303030;
  border: 1px solid #ffffff;
}

/* Media query for devices larger than 768px (e.g., desktop) */
@media (min-width: 769px) {
  .card {
    max-height: 400px;
  }
}

/* Media query for mobile devices (screens smaller than 768px) */
@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80vw;
    margin: 4vw 0;
    max-height: 200px;
  }
}

/* New CSS for Loading State */
.loading {
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  animation: pulse 1.5s infinite ease-in-out;
}

/* Pulse animation for loading state */
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Error Message Style */
.error {
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.next-set-container {
  margin-top: 2rem;
  text-align: center;
}

.next-set-button {
  padding: 1rem 2rem;
  background-color: #4CAF50;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.next-set-button:hover {
  background-color: #45a049;
}
