.card-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh; 
    padding: 20px;
  }
  
  .card {
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 400px;
    width: 45%;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-height: 200px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    margin: 0 10px;
  }

  .card-blue {
    background-color: lightblue;
  }
  
  .card-green {
    background-color: lightgreen;
  }
  
  
  @media (max-width: 768px) { 
    .card-container {
      flex-direction: column;
      align-items: center;
    }
  
    .card {
      width: 90%; 
      margin: 10px 0;
      max-width: 90%;
    }
  }