.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #303030;
    color: white;
}

.continue-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: rgb(255, 0, 0);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.continue-btn:hover {
    background-color: #f0f0f0;
    transform: scale(1.1);
}
