body, html, #root {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #f5f7fa;
}

.app-header {
  background-color: #2e3138;
  color: white;
  padding: 20px;
  text-align: center;
}

.app-main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.get-started-btn {
  padding: 15px 30px;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.get-started-btn:hover {
  background-color: #3f3f3f;
  transform: scale(1.05);
}
